<div class="navbar">
  <div>
    <%= image_tag "nathalie_arthaud.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "marine_lepen.png", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "anne_hidalgo.jpeg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "valerie_pecresse.jpeg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "nicolas_dupont.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "emmanuel_macron.jpeg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "yannick_jadot.jpeg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "jean_lassalle.jpeg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "jeanluc_melenchon.jpeg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "eric_zemmour.jpeg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "philippe_poutou.jpeg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "eric_roussel.jpeg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
</div>
