<div class="navbar">
  <div>
    <%= image_tag "nathalie_arthaud.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "marine_lepen.png", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "anne_hidalgo.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "valerie_pecresse.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "nicolas_dupont.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "emmanuel_macron.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "yannick_jadot.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "jean_lassalle.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "jeanluc_melenchon.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "eric_zemmour.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "philippe_poutou.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
    <div>
    <%= image_tag "eric_roussel.jpg", width: 70, height: 70, crop: :fill, gravity: :face, :radius => "max", class: "avatar-nav" %>
  </div>
</div>
