<!DOCTYPE html>
<html>
  <head>
    <title>Jevoteou?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%=render 'votes/navbar' %>
    <h4>Where am I supposed to vote ?</h4>
    <div class="center-search">
        <%= form_tag votes_path, method: :get do %>
          <%= text_field_tag :query, params[:query], class: "search__input", placeholder: "Tap your zipcode here !" %>
        <% end %>
    </div>
    <%= yield %>
</html>
