<!DOCTYPE html>
<html>
  <head>
    <title>MonBureauDeVote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="background"></div>
  <body>
  <%=render 'votes/navbar' %>
  <div class="container">
    <div class="result">
      <div><h1>Quel est mon Bureau de vote?</h1></div>
        <div class="center-search">
          <%= form_tag votes_path, method: :get do %>
            <%= text_field_tag :query, params[:query], class: "search__input", placeholder: "Entrez votre Zip Code" %>
          <% end %>
      </div>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
